<%= render partial: 'shared/header', locals: { heading: 'Categories' } %>

<%= render 'shared/flash' %>

<% @groups.each do |group| %>
  <ul>
    <li>
      <%= link_to group_path(group) do %>
        <%= image_tag group.icon %>
        <h2><%= group.name %></h2>
        <p><%= group.created_at.strftime("%d-%m-%Y") %></p>
        <p>$<%= group.expenses.sum(:amount) %></p>
      <% end %>
    </li>
  </ul>
<% end %>

<button><%= link_to 'Add new category', new_group_path %> </button>